[*.cs]

# S1125: Boolean literals should not be redundant
dotnet_diagnostic.S1125.severity = none

# S1450: Private fields only used as local variables in methods should become local variables
dotnet_diagnostic.S1450.severity = none

# S3457: Composite format strings should be used correctly
dotnet_diagnostic.S3457.severity = none

# CS0437: Le type est en conflit avec l'espace de noms importé
dotnet_diagnostic.CS0437.severity = none
